
<p>WHAMMO! <%= @player1name %> has attacked  <%= @player2name %>! （・□・；）</p>

<p>Player 2's Hitpoints reduced by <%= @attack_value %></p>

<p>Player 2 now has <%= @player2hitpoints %> Hitpoints.</p>
