<form action="/names" method="post">
  <h2>Player 1: Select your hero name</h2>
  <input type="text" name="name1">
  <h2>Player 2: Select your hero name</h2>
  <input type="text" name="name2">
  <input type="submit" value="Submit">
</form>
