<form action="/names" method="post">
  <h2>Player 1: Select your hero name</h2>
  <input type="text" name="name1">
  <h2>And Player 1 Hitpoints:</h2>
  <input type="text" name="player1hitpoints">
  <h2>Player 2: Select your hero name</h2>
  <input type="text" name="name2">
  <h2>And Player 2 Hitpoints:</h2>
  <input type="text" name="player2hitpoints">
  <input type="submit" value="Submit">
</form>
